pandas==2.1.4
mlflow==2.13.2
sagemaker-mlflow==0.1.0
transformers==4.40.0
tiktoken
fastapi
rouge_score
textstat
s3fs
datasets==2.18.0
sagemaker==2.225.0
peft==0.10.0
accelerate==0.29.3
bitsandbytes==0.43.1
evaluate==0.4.1
safetensors>=0.4.3
tokenizers>=0.19.1
py7zr